@{
}

@model Burialmain

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Burial ID</th>
            <th>Depth</th>
            <th>Preservation</th>
            <th>Burial Number</th>
            <th>Excavation Year</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Depth</td>
            <td>@Model.Preservation</td>
            <td>@Model.Burialnumber</td>
            <td>@Model.Fieldbookexcavationyear</td>
        </tr>
    </tbody>
</table>