@{
}

@model Burialmain

<h3>@Model</h3>
<ul>
    <li>Project Type: @Model</li>
    <li>Regional Program: @Model</li>
    <li>Impact: @Model individuals served</li>
    <li>Project Phase: @Model</li>
    <li>Project Status: @Model</li>
</ul>
<br />