@model BurialsViewModel
    <div class="container mt-5">
        <h1 class="text-center">Burial Records</h1>
        <body>
            <p>The data displayed below are records of various categories of information gathered about a collection of burials that have been uncovered. As you look through the data, you can filter in various ways to look for patterns, and click on each record for more information!</p>
            <h3>Filter by Table</h3>
            <div class="row m-1 p-1">
                <div id="types" class="col-3">
                    <div id="types" class="col-3">
                        <a asp-controller="Home" asp-action="Burials" asp-route-area="BurialMain" asp-route-pageNum="1"
                           class="btn @(ViewBag.SelectedType == "BurialMain" ? "btn-success" : "btn-outline-secondary")">
                            Burial Main
                        </a>
                        <a asp-controller="Home" asp-action="Burials" asp-route-area="Textile" asp-route-pageNum="1"
                           class="btn @(ViewBag.SelectedType == "Textile" ? "btn-success" : "btn-outline-secondary")">
                            Textile
                        </a>
                        <a asp-controller="Home" asp-action="Burials" asp-route-area="TextileColor" asp-route-pageNum="1"
                           class="btn @(ViewBag.SelectedType == "TextileColor" ? "btn-success" : "btn-outline-secondary")">
                            Textile Color
                        </a>
                        <a asp-controller="Home" asp-action="Burials" asp-route-area="TextileStructure" asp-route-pageNum="1"
                           class="btn @(ViewBag.SelectedType == "TextileStructure" ? "btn-success" : "btn-outline-secondary")">
                            Textile Structure
                        </a>
                        <a asp-controller="Home" asp-action="Burials" asp-route-area="TextileFunction" asp-route-pageNum="1"
                           class="btn @(ViewBag.SelectedType == "TextileFunction" ? "btn-success" : "btn-outline-secondary")">
                            Textile Function
                        </a>
                        <a asp-controller="Home" asp-action="Burials" asp-route-area="BodyAnalysisChart" asp-route-pageNum="1"
                           class="btn @(ViewBag.SelectedType == "BodyAnalysisChart" ? "btn-success" : "btn-outline-secondary")">
                            Body Analysis Chart
                        </a>
                    </div>
                    <br />
                    <h3>Filter by Attribute</h3>
                    <div id="filters">
                        @if (ViewBag.SelectedType == "BurialMain")
                        {
                            <form method="post" asp-controller="Home" asp-action="Burials" asp-route-table="BurialMain" asp-route-pageNum="1">
                                <div class="container">
                                    <div class="row">

                                        <div class="form-group col">
                                            <label for="SquareNorthSouthInput">North/South Square</label>
                                            <input type="text" class="form-control" id="SquareNorthSouthInput" name="SquareNS" placeholder="190">
                                        </div>
                                        <div class="form-group col">
                                            <label for="NorthSouthInput">North/South Location</label>
                                            <input type="text" class="form-control" id="NorthSouthInput" placeholder="N" name="NS">
                                        </div>
                                        <div class="form-group col">
                                            <label for="SquareEastWestInput">East/West Square</label>
                                            <input type="text" class="form-control" id="SquareEastWestInput" placeholder="30" name="SquareEW">
                                        </div>
                                        <div class="form-group col">
                                            <label for="EastWestInput">East/West Location</label>
                                            <input type="text" class="form-control" id="EastWestInput" placeholder="E" name="EW">
                                        </div>
                                        <div class="form-group col">
                                            <label for="AreaInput">Area</label>
                                            <input type="text" class="form-control" id="AreaInput" placeholder="NE" name="Area">
                                        </div>
                                        <div class="form-group col">
                                            <label for="BurialNumberInput">Burial Number</label>
                                            <input type="number" class="form-control" id="BurialNumberInput" placeholder="60" name="BurialNumber">
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="form-group col">
                                            <label for="HeadDirectionInput">Head Direction</label>
                                            <input type="text" class="form-control" id="HeadDirectionInput" placeholder="W" name="HeadDirection">
                                        </div>
                                        <div class="form-group col">
                                            <label for="AgeAtDeathInput">Age at Death</label>
                                            <input type="text" class="form-control" id="AgeAtDeathInput" placeholder="C" name="AgeAtDeath">
                                        </div>
                                        <div class="form-group col">
                                            <label for="HeadDirectionInput">Sex</label>
                                            <input type="text" class="form-control" id="HeadDirectionInput" placeholder="F" name="Sex">
                                        </div>
                                        <div class="form-group col">
                                            <label for="HeadDirectionInput">Hair Color</label>
                                            <input type="text" class="form-control" id="HeadDirectionInput" placeholder="B" name="HairColor">
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        }
                        else if (ViewBag.SelectedType == "BodyAnalysisChart")
                        {
                            <form method="post" asp-action="Burials" asp-route-table="BodyAnalysisChart" asp-route-pageNum="1">
                                <div class="container">
                                    <div class="row">
                                        <div class="form-group col">
                                            <label for="EstimateStatureInput">Estimate Stature</label>
                                            <input type="text" class="form-control" id="EstimateStatureInput" placeholder="190" name="EstimateStature">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        }
                        else if (ViewBag.SelectedType == "Textile")
                        {
                            <form method="post" asp-action="Burials" asp-route-table="Textile" asp-route-pageNum="1">
                                <div class="container">
                                    <div class="row">
                                        <div class="form-group col">
                                            <label for="Locale">Locale</label>
                                            <input type="text" class="form-control" id="Locale" placeholder="150/160N 0/10W" name="Locale">
                                        </div>
                                        <br />
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        }
                        else if (ViewBag.SelectedType == "TextileFunction")
                        {
                            <form method="post" asp-action="Burials" asp-route-table="TextileFunction" asp-route-pageNum="1">
                                <div class="container">
                                    <div class="row">
                                        <div class="form-group col">
                                            <label for="Value">Value</label>
                                            <input type="text" class="form-control" id="Value" placeholder="Ribbon- Torn Strip" name="Value">
                                        </div>
                                        <br />
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        }
                        else if (ViewBag.SelectedType == "TextileStructure")
                        {
                            <form method="post" asp-action="Burials" asp-route-table="TextileStructure" asp-route-pageNum="1">
                                <div class="container">
                                    <div class="row">
                                        <div class="form-group col">
                                            <label for="Value">Value</label>
                                            <input type="text" class="form-control" id="Value" placeholder="10" name="Value">
                                        </div>
                                        <br />
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        }
                        else if (ViewBag.SelectedType == "TextileColor")
                        {
                            <form method="post" asp-action="TextileColor" asp-route-table="TextileColor" asp-route-pageNum="1">
                                <div class="container">
                                    <div class="row">
                                        <div class="form-group col">
                                            <label for="Value">Value</label>
                                            <input type="text" class="form-control" id="Value" placeholder="Undyed" name="Value">
                                        </div>
                                        <br />
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                </div>
                <div class="col-9">
                    <div>
                        @if (ViewBag.SelectedType == "BurialMain")
                        {
                            <partial name="_BurialMainTable" />
                        }
                        else if (ViewBag.SelectedType == "BodyAnalysisChart")
                        {
                            <partial name="_BodyAnalysisChartTable" />
                        }
                        else if (ViewBag.SelectedType == "Textile")
                        {
                            <partial name="_TextileTable" />
                        }
                        else if (ViewBag.SelectedType == "TextileStructure")
                        {
                            <partial name="_TextileStructureTable" />
                        }
                        else if (ViewBag.SelectedType == "TextileColor")
                        {

                            <partial name="_ColorTable" />
                        }
                        else if (ViewBag.SelectedType == "TextileFunction")
                        {
                            <partial name="_TextileFunctionTable" />
                        }
                        else
                        {
                            <partial name="_BurialMainTable" />
                        }
                    </div>
                </div>
            </div>
        </body>
        </div>