@model Burialmain

<h1>Manage Record Below</h1>

<form method="post" asp-action="EditRecordForm">
    <label>ID: </label>
    <input id="Id" asp-for="Id" value="@Model.Id" /><br />
    <label>Square North/South: </label>
    <input id="Squarenorthsouth" asp-for="Squarenorthsouth" value="@Model.Squarenorthsouth" /><br />
    <label>Head Direction: </label>
    <input id="Headdirection" asp-for="Headdirection" value="@Model.Headdirection" /><br />
    <label>Sex: </label>
    <input id="Sex" asp-for="Sex" value="@Model.Sex" /><br />
    <label>North/South: </label>
    <input id="Northsouth" asp-for="Northsouth" value="@Model.Northsouth" /><br />
    <label>Depth: </label>
    <input id="Depth" asp-for="Depth" value="@Model.Depth" /><br />
    <label>East/West: </label>
    <input id="Eastwest" asp-for="Eastwest" value="@Model.Eastwest" /><br />
    <label>Adult/Sub Adult: </label>
    <input id="Adultsubadult" asp-for="Adultsubadult" value="@Model.Adultsubadult" /><br />
    <label>Face Bundles: </label>
    <input id="Facebundles" asp-for="Facebundles" value="@Model.Facebundles" /><br />
    <label>South to Head: </label>
    <input id="Southtohead" asp-for="Southtohead" value="@Model.Southtohead" /><br />
    <label>Preservation: </label>
    <input id="Preservation" asp-for="Preservation" value="@Model.Preservation" /><br />
    <label>Square East/West: </label>
    <input id="Squareeastwest" asp-for="Squareeastwest" value="@Model.Squareeastwest" /><br />
    <label>Goods: </label>
    <input id="Goods" asp-for="Goods" value="@Model.Goods" /><br />
    <label>Wrapping: </label>
    <input id="Wrapping" asp-for="Wrapping" value="@Model.Wrapping" /><br />
    <label>Hair Color: </label>
    <input id="Haircolor" asp-for="Haircolor" value="@Model.Haircolor" /><br />
    <label>West to Head: </label>
    <input id="Westtohead" asp-for="Westtohead" value="@Model.Westtohead" /><br />
    <label>Samples Collected: </label>
    <input id="Samplescollected" asp-for="Samplescollected" value="@Model.Samplescollected" /><br />
    <label>Area: </label>
    <input id="Area" asp-for="Area" value="@Model.Area" /><br />
    <label>Burial ID: </label>
    <input id="BurialId" asp-for="Burialid" value="@Model.Burialid" /><br />
    <label>Length: </label>
    <input id="Length" asp-for="Length" value="@Model.Length" /><br />
    <label>Burial Number: </label>
    <input id="BurialNumber" asp-for="Burialnumber" value="@Model.Burialnumber" /><br />
    <label>Data Expert Initials: </label>
    <input id="Dataexpertinitials" asp-for="Dataexpertinitials" value="@Model.Dataexpertinitials" /><br />
    <label>West to Feet: </label>
    <input id="Westtofeet" asp-for="Westtofeet" value="@Model.Westtofeet" /><br />
    <label>Age at Death: </label>
    <input id="Ageatdeath" asp-for="Ageatdeath" value="@Model.Ageatdeath" /><br />
    <label>South to Feet: </label>
    <input id="Southtofeet" asp-for="Southtofeet" value="@Model.Southtofeet" /><br />
    <label>Excavation Recorder: </label>
    <input id="Excavationrecorder" asp-for="Excavationrecorder" value="@Model.Excavationrecorder" /><br />
    <label>Photos: </label>
    <input id="Photos" asp-for="Photos" value="@Model.Photos" /><br />
    <label>Hair: </label>
    <input id="Hair" asp-for="Hair" value="@Model.Hair" /><br />
    <label>Burial Materials: </label>
    <input id="Burialmaterials" asp-for="Burialmaterials" value="@Model.Burialmaterials" /><br />
    <label>Date of Excavation: </label>
    <input id="Dateofexcavation" asp-for="Dateofexcavation" value="@Model.Dateofexcavation" /><br />
    <label>Fieldbook Excavation Year: </label>
    <input id="fieldbookexcavationyear" asp-for="Fieldbookexcavationyear" value="@Model.Fieldbookexcavationyear" /><br />
    <label>Cluster Number: </label>
    <input id="Clusternumber" asp-for="Clusternumber" value="@Model.Clusternumber" /><br />
    <label>Shaft Number: </label>
    <input id="Shaftnumber" asp-for="Shaftnumber" value="@Model.Shaftnumber" /><br />
    <label>Text: </label>
    <textarea id="Text" rows="4" asp-for="Text"></textarea><br /><br />
    <input class="btn btn-primary" id="btnSend" type="submit" value="Submit Changes" />
</form>

