@model Burialmain
<!--Displaying all informatioin about each record when the See More Button is clicked on a record-->
<h2>More Information!</h2>
<p>Record ID: @Model.Id</p>
<p>Extra Text: @Model.Text</p>
<p>Area: @Model.Area</p>
<p>Sex: @Model.Sex</p>
<p>Age at Death: @Model.Ageatdeath</p>
<p>North/South Square: @Model.Squarenorthsouth</p>
<p>North/South Location: @Model.Northsouth</p>
<p>East/West Square: @Model.Squareeastwest</p>
<p>East/West Location: @Model.Eastwest</p>
<p>Samples Collected: @Model.Samplescollected</p>
<p>Length: @Model.Length</p>
<p>Hair Color: @Model.Haircolor</p>
<p>Burial Number: @Model.Burialnumber</p>
<p>Head Direction: @Model.Headdirection</p>
<p>Preservation State: @Model.Preservation</p>